# 忽略所有文件夹下 build 目录及其子文件
build
dist
.idea
venv
__pycache__

.dep.inc
# 删除之后需要手动写Makefile, 暂不删除
# nbproject
#
# 使用 CMakeLists.txt 构建项目
CMakeCache.txt
CMakeFiles
cmake_install.cmake
compile_commands.json
Makefile
nbproject


# 忽略所有目录下的.svn文件夹及其文件
.idea
.svn
vendor

# 忽略所有目录下的log文件夹下的内容
log/*

# 忽略当前目录下的pkg文件夹及其子文件
/pkg/*
/src/*



# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
